<div id="search-results">

  <h1 class="grid-x row">Found <%= @response['response']['numFound'] %> collections matching "<%= @q %>"</h1>

  <!-- <div class="grid-x panel" style="overflow: auto;"> <%= @response.request %></div> -->

  <div class="grid-x row"><%= foundation_paginate @response["response"]["docs"] %></div>

  <% @response['response']['docs'].each do |d| %>
    <div class="grid-x row search-result">

      <h2><%= link_to(d['title'], "/#{d['record_type']}s/#{d['record_id']}") %></h2>

      <a href="#" data-reveal-id="dataModal<%= d['id'].gsub(/\//,'') %>" class="button tiny show-test-data">Show data</a>
      <div id="dataModal<%= d['id'].gsub(/\//,'') %>" class="reveal-modal test-data-modal" data-reveal>

        <dl>
          <% d.each do |k,v| %>
            <div class="grid-x row">
              <dt class="cell small-2"><%= k %></dt>
              <dd class="cell small-10">
                <% if k == 'json' %>
                  <dl>
                    <% JSON.parse(v).each do |kk,vv| %>
                      <div class="grid-x row">
                        <dt class="cell small-4"><%= kk %></dt>
                        <dd class="cell small-8"><%= vv %></dd>
                      </div>
                    <% end %>
                  </dl>
                <% else %>
                  <%= v %>
                <% end %>
              </dd>
            </div><%# grid-x %>
          <% end %><%# each %>
        </dl>

      </div>

    </div>
  <% end %><%# @response['response']['docs'].each %>

  <div class="grid-x row"><%= foundation_paginate @response["response"]["docs"] %></div>

</div>
