<div id="search-results" class="<%= @resource ? 'resource-results search-results' : 'search-results'%>">

  <% if @resource %>
    <%= results_heading %>
    <%= search_pagination %>
    <%= render_resource_results(@response['response']['docs'], @resource) %>
    <%= search_pagination %>
  <% else %>

    <div class="grid-x grid-margin-x row">

      <div class="cell medium-3 show-for-medium">
        <%= facet_options %>
      </div>

      <div class="cell medium-9">
        <%= results_heading %>

        <%= active_filters %>

        <%= search_pagination %>

        <% @response['grouped']['resource_uri']['groups'].each do |g| %>
          <% if g == @response['grouped']['resource_uri']['groups'].last %>
            <%= render_group(g, class: 'last') %>
          <% else %>
            <%= render_group(g) %>
          <% end %>
        <% end %>

        <%= search_pagination %>

      </div>
    </div>

  <% end %>
</div>
