<div id="resources-show" typeof="schema:CreativeWork bibo:Collection dcmitype:Collection">


  <div class="stickable persistent-header" id="stickable">

    <div class="row title">
      <% if @presenter.digital_objects || @presenter.has_descendant_digital_objects %>
        <div class="thumbnail-visibility-toggle"></div>
      <% end %>

      <h1 class="resource-title dcterms:title"><%= resource_title %></h1>
      <span property=\"schema:provider arch:heldBy\" resource=\"http://www.lib.ncsu.edu/ld/onld/00000658\"></span>
    </div>

    <div class="row">
      <dl class="tabs resource-show-tabs data-tabs" data-options="deep_linking:true">
        <dd class="tab<%= @tab == 'summary' ? ' active' : '' %>"><a href="#summary"><%= t('summary_tab_label') %></a></dd>

        <% if @presenter.has_children %>
          <dd class="tab<%= @tab == 'contents' ? ' active' : '' %>"><a href="#contents"><%= t('container_list_tab_label') %></a></dd>
        <% end %>

        <dd class="tab<%= @tab == 'terms' ? ' active' : '' %>"><a href="#terms"><%= t('controllaccess_tab_label') %></a></dd>

        <dd class="tab last<%= @tab == 'access' ? ' active' : '' %>"><a href="#access"><%= t('access_to_materials_tab_label') %></a></dd>
      </dl>
    </div>

  </div>


  <div class="tabs-content">

    <div class="row content<%= @tab == 'summary' ? ' active' : '' %>" id="summary">

      <%= resource_overview %>

      <%= resource_abstract %>

      <%= resource_notes %>

    </div>


    <% if @presenter.has_children %>
      <div class="row content<%= @tab == 'contents' ? ' active' : '' %>" id="contents">

        <% if @presenter.has_digital_objects || @presenter.has_descendant_digital_objects %>
          <%= resource_digital_object_output.html_safe %>
        <% end %>

        <%= render_tree %>
      </div>
    <% end %>


    <% if @presenter.subjects || @presenter.agents %>
      <div class="row content<%= @tab == 'terms' ? ' active' : '' %>" id="terms">
        <%= names_and_subjects %>
      </div>
    <% end %>


    <div class="row content<%= @tab == 'access' ? ' active' : '' %>" id="access">
      <%= access_info_output  %>
    </div>

  </div>


</div>
