<div id="resources-show" typeof="schema:CreativeWork bibo:Collection dcmitype:Collection">

  <div class="stickable persistent-header" id="stickable">

    <div class="title">

      <h1 class="resource-title dcterms:title"><%= resource_title %></h1>

      <%= ld_provider %>

    </div>


    <div>

      <dl class="tabs resource-show-tabs" data-tabs id="resource-tabs" data-options="deep_linking:true">
        <dd class="tabs-title <%= @tab == 'summary' ? ' is-active' : '' %>" data-tab-id="summary">
          <a href="#summary"><%= t('summary_tab_label') %></a>
        </dd>

        <% if @presenter.has_children %>
          <dd class="tabs-title<%= @tab == 'contents' ? ' is-active' : '' %>" data-tab-id="contents">
            <a href="#contents"><%= t('container_list_tab_label') %></a>
          </dd>
        <% end %>

        <dd class="tabs-title<%= @tab == 'terms' ? ' is-active' : '' %>" data-tab-id="terms">
          <a href="#terms"><%= t('controllaccess_tab_label') %></a>
        </dd>

        <dd class="tabs-title last<%= @tab == 'access' ? ' is-active' : '' %>" data-tab-id="access">
          <a href="#access"><%= t('access_to_materials_tab_label') %></a>
        </dd>
      </dl>

    </div>

    <%= thumbnail_visibility_toggle_output(@presenter, @tab) %>

  </div>


  <div class="tabs-content" data-tabs-content="resource-tabs">

    <div class="tabs-panel content<%= @tab == 'summary' ? ' is-active' : '' %>" id="summary">
      
      <% if default_repo %>
      <div class="content-notice">
        <%= render partial: 'common/edi_statement' %>
      </div>
      <% end %>

      <%= repo_header %>
      <%= resource_overview %>
      <%= resource_abstract %>
      <%= resource_notes %>
    </div>


    <% if @presenter.has_children %>
      <div class="grid-x row tabs-panel content<%= @tab == 'contents' ? ' is-active' : '' %>" id="contents">

        <div class="content-notice">
          <%= render partial: 'common/edi_statement' %>

          <% if @presenter.has_digital_objects_with_files || @presenter.has_descendant_digital_objects_with_files %>
            <%= resource_digital_object_output.html_safe %>
          <% end %>
        </div>
          
        

        

        <%= render_tree %>
      </div>
    <% end %>


    <% if @presenter.subjects || @presenter.agents %>
      <div class="grid-x row tabs-panel content<%= @tab == 'terms' ? ' is-active' : '' %>" id="terms">
        <div class="content-notice">
          <%= render partial: 'common/edi_statement' %>
        </div>

        <%= names_and_subjects %>
      </div>
    <% end %>


    <div class="grid-x row tabs-panel content<%= @tab == 'access' ? ' is-active' : '' %>" id="access">
      <div class="content-notice">
        <%= render partial: 'common/edi_statement' %>
      </div>
      
      <%= access_info_output  %>
    </div>

  </div>


</div>
