<%= header_before %>

<div class="project-header" id="project-header">

  <div class="project-header-content">

    <div class="project-name">
      <%= link_to "Collection Guides", root_path %>
      <div class="subhead show-for-medium">
        <!-- Archival Collections at <span class="nowrap">NC State University Libraries</span> -->
        <%= t('header_title').html_safe %>
      </div>
    </div>

    <%= site_nav %>
    <%= ncsul_web_scrc_notice %>

    <div class="grid-x row">
      <div class="cell small-12 medium-8">
        <%= render 'search/search_form' %>
      </div>

      <div class="cell show-for-medium medium-4">
        <div class="browse-all">
          <%= link_to t('browse_all_label'), "#{root_path}resources" %>
        </div>
      </div>
    </div>


    <div class="show-for-small-only">
      <div class="browse-all browse-all-block">
        <%= link_to t('browse_all_label'), "#{root_path}resources" %>
      </div>
    </div>

  </div>
</div>
