<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js lt-ie9 ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js lt-ie9 ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html version="HTML+RDFa 1.1" lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:schema="http://schema.org/"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:dcmitype="http://purl.org/dc/dcmitype/"
  xmlns:bibo="http://purl.org/ontology/bibo/"
  xmlns:arch="http://purl.org/archival/vocab/arch#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  class="no-js">
<!--<![endif]-->

  <head>
    <% if @resource && @presenter %>
      <title><%= @presenter.title %><%= @presenter.date_statement ? ", #{@presenter.date_statement}" : '' %>
     | <%= t('html_title') %></title>
    <% elsif @title %>
      <title><%= t('html_title') %> | <%= @title %></title>
    <% else %>
      <title><%= t('html_title') %></title>
    <% end %>

    <meta charset="utf-8" />
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <% if controller_name == 'resources' %>
      <%= escaped_fragment_meta %>
    <% end %>

    <%= favicon_link_tag '/homescreen-icon-114x114.png', sizes: "114x114", rel: "shortcut icon" %>
    <%= favicon_link_tag '/homescreen-icon-57x57.png', sizes: "57x57", rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag '/homescreen-icon-72x72.png', sizes: "72x72", rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag '/homescreen-icon-114x114.png', sizes: "114x114", rel: 'apple-touch-icon', type: 'image/png' %>

    <%= csrf_meta_tags %>

    <%= render '/layouts/head' %>
    <meta property="og:image" content="https://www.lib.ncsu.edu/themes/custom/ncsulibraries/images/screenshot.jpg" />
    <meta property="og:image:alt" content="NC State University Libraries Logo" />

  </head>


  <body>

    <div class="app-content">

      <%= render partial: "layouts/header" %>

      <main role="main">

        <%= render '/layouts/flash' %>

        <%= yield %>

      </main>

    </div>

    <%= render partial: "layouts/footer" %>

  </body>


</html>
