<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js lt-ie9 ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js lt-ie9 ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html version="HTML+RDFa 1.1" lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:schema="http://schema.org/"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:dcmitype="http://purl.org/dc/dcmitype/"
  xmlns:bibo="http://purl.org/ontology/bibo/"
  xmlns:arch="http://purl.org/archival/vocab/arch#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  class="no-js">
<!--<![endif]-->

  <head>

    <%= html_head_title %>

    <%= render '/layouts/head' %>

    <% if @resource && @presenter %>
      <%= render '/resources/open_graph' %>
    <% end %>

  </head>


  <body>

    <div class="app-content">

      <%= render partial: "layouts/header" %>

      <main role="main">

        <%= render '/layouts/flash' %>

        <%= yield %>

      </main>

    </div>

    <%= render partial: "layouts/footer" %>

  </body>


</html>
